## Part1

In [2]:
import pandas
food_info = pandas.read_csv("food_info.csv")
print (food_info.dtypes)

NDB_No               int64
Shrt_Desc           object
Water_(g)          float64
Energ_Kcal           int64
Protein_(g)        float64
Lipid_Tot_(g)      float64
Ash_(g)            float64
Carbohydrt_(g)     float64
Fiber_TD_(g)       float64
Sugar_Tot_(g)      float64
Calcium_(mg)       float64
Iron_(mg)          float64
Magnesium_(mg)     float64
Phosphorus_(mg)    float64
Potassium_(mg)     float64
Sodium_(mg)        float64
Zinc_(mg)          float64
Copper_(mg)        float64
Manganese_(mg)     float64
Selenium_(mcg)     float64
Vit_C_(mg)         float64
Thiamin_(mg)       float64
Riboflavin_(mg)    float64
Niacin_(mg)        float64
Vit_B6_(mg)        float64
Vit_B12_(mcg)      float64
Vit_A_IU           float64
Vit_A_RAE          float64
Vit_E_(mg)         float64
Vit_D_mcg          float64
Vit_D_IU           float64
Vit_K_(mcg)        float64
FA_Sat_(g)         float64
FA_Mono_(g)        float64
FA_Poly_(g)        float64
Cholestrl_(mg)     float64
dtype: object

In [3]:
print(food_info.head(3))
print(food_info.columns)
print (food_info.shape)

   NDB_No                 Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
0    1001          BUTTER WITH SALT      15.87         717         0.85
1    1002  BUTTER WHIPPED WITH SALT      15.87         717         0.85
2    1003      BUTTER OIL ANHYDROUS       0.24         876         0.28

   Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  \
0          81.11     2.11            0.06           0.0           0.06
1          81.11     2.11            0.06           0.0           0.06
2          99.48     0.00            0.00           0.0           0.00

        ...        Vit_A_IU  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  \
0       ...          2499.0      684.0        2.32        1.5      60.0
1       ...          2499.0      684.0        2.32        1.5      60.0
2       ...          3069.0      840.0        2.80        1.8      73.0

   Vit_K_(mcg)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)
0          7.0      51.368       21.021        3.043           215.0
1          7.0      50.489       23.426        3.012           219.0
2          8.6      61.924       28.732        3.694           256.0

[3 rows x 36 columns]
Index(['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)',
       'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)',
       'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)',
       'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)',
       'Copper_(mg)', 'Manganese_(mg)', 'Selenium_(mcg)', 'Vit_C_(mg)',
       'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Vit_B6_(mg)',
       'Vit_B12_(mcg)', 'Vit_A_IU', 'Vit_A_RAE', 'Vit_E_(mg)', 'Vit_D_mcg',
       'Vit_D_IU', 'Vit_K_(mcg)', 'FA_Sat_(g)', 'FA_Mono_(g)', 'FA_Poly_(g)',
       'Cholestrl_(mg)'],
      dtype='object')
(8618, 36)

In [80]:
# pandas uses zero-indexing
# Series object representing the row at index 0.
# loc[行标签,列标签]
print (food_info.loc[0,'NDB_No'])
print (food_info.loc[0])

# iloc[行位置,列位置]
# iloc[1,1]#选取第二行，第二列的值，返回的为单个值
# iloc[[0,2],:]#选取第一行 和 第三行的数据
# iloc[0:2,:]#选取第一行 到 第三行（不包含）的数据
# iloc[:,1]#选取所有记录的第一列的值，返回的为一个Series
print(food_info.iloc[0,0])#选取第一行数据，返回的为一个Series，注意，不是返回 DataFrame
print (food_info.iloc[0])

1001
NDB_No                         1001
Shrt_Desc          BUTTER WITH SALT
Water_(g)                     15.87
Energ_Kcal                      717
Protein_(g)                    0.85
Lipid_Tot_(g)                 81.11
Ash_(g)                        2.11
Carbohydrt_(g)                 0.06
Fiber_TD_(g)                      0
Sugar_Tot_(g)                  0.06
Calcium_(mg)                     24
Iron_(mg)                      0.02
Magnesium_(mg)                    2
Phosphorus_(mg)                  24
Potassium_(mg)                   24
Sodium_(mg)                     643
Zinc_(mg)                      0.09
Copper_(mg)                       0
Manganese_(mg)                    0
Selenium_(mcg)                    1
Vit_C_(mg)                        0
Thiamin_(mg)                  0.005
Riboflavin_(mg)               0.034
Niacin_(mg)                   0.042
Vit_B6_(mg)                   0.003
Vit_B12_(mcg)                  0.17
Vit_A_IU                       2499
Vit_A_RAE                       684
Vit_E_(mg)                     2.32
Vit_D_mcg                       1.5
Vit_D_IU                         60
Vit_K_(mcg)                       7
FA_Sat_(g)                   51.368
FA_Mono_(g)                  21.021
FA_Poly_(g)                   3.043
Cholestrl_(mg)                  215
Name: 0, dtype: object
2047
NDB_No                   2047
Shrt_Desc          SALT TABLE
Water_(g)                 0.2
Energ_Kcal                  0
Protein_(g)                 0
Lipid_Tot_(g)               0
Ash_(g)                  99.8
Carbohydrt_(g)              0
Fiber_TD_(g)                0
Sugar_Tot_(g)               0
Calcium_(mg)               24
Iron_(mg)                0.33
Magnesium_(mg)              1
Phosphorus_(mg)             0
Potassium_(mg)              8
Sodium_(mg)             38758
Zinc_(mg)                 0.1
Copper_(mg)              0.03
Manganese_(mg)            0.1
Selenium_(mcg)            0.1
Vit_C_(mg)                  0
Thiamin_(mg)                0
Riboflavin_(mg)             0
Niacin_(mg)                 0
Vit_B6_(mg)                 0
Vit_B12_(mcg)               0
Vit_A_IU                    0
Vit_A_RAE                   0
Vit_E_(mg)                  0
Vit_D_mcg                   0
Vit_D_IU                    0
Vit_K_(mcg)                 0
FA_Sat_(g)                  0
FA_Mono_(g)                 0
FA_Poly_(g)                 0
Cholestrl_(mg)              0
Name: 276, dtype: object

In [7]:
# Returns a DataFrame containing the rows at indexes 2, 3, 5
print(food_info.loc[[2,3,5]])

   NDB_No             Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
2    1003  BUTTER OIL ANHYDROUS       0.24         876         0.28
3    1004           CHEESE BLUE      42.41         353        21.40
5    1006           CHEESE BRIE      48.42         334        20.75

   Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  \
2          99.48     0.00            0.00           0.0           0.00
3          28.74     5.11            2.34           0.0           0.50
5          27.68     2.70            0.45           0.0           0.45

        ...        Vit_A_IU  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  \
2       ...          3069.0      840.0        2.80        1.8      73.0
3       ...           721.0      198.0        0.25        0.5      21.0
5       ...           592.0      174.0        0.24        0.5      20.0

   Vit_K_(mcg)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)
2          8.6      61.924       28.732        3.694           256.0
3          2.4      18.669        7.778        0.800            75.0
5          2.3      17.410        8.013        0.826           100.0

[3 rows x 36 columns]

In [21]:
# Series object representing the "NDB_No" column.
print(food_info['NDB_No'][0:2])

0    1001
1    1002
Name: NDB_No, dtype: int64

In [20]:
print(food_info[["Zinc_(mg)", "Copper_(mg)"]][0:2])

   Zinc_(mg)  Copper_(mg)
0       0.09        0.000
1       0.05        0.016

### Slice columes

In [12]:
col_names = food_info.columns.tolist()
gram_columns = []

for c in col_names:
    if c.endswith("(g)"):
        gram_columns.append(c)
gram_df = food_info[gram_columns]
print(gram_df.head(3))

   Water_(g)  Protein_(g)  Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  \
0      15.87         0.85          81.11     2.11            0.06
1      15.87         0.85          81.11     2.11            0.06
2       0.24         0.28          99.48     0.00            0.00

   Fiber_TD_(g)  Sugar_Tot_(g)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)
0           0.0           0.06      51.368       21.021        3.043
1           0.0           0.06      50.489       23.426        3.012
2           0.0           0.00      61.924       28.732        3.694

### Format transformation

In [19]:
print(food_info["Iron_(mg)"][0:2])
div_1000 = food_info["Iron_(mg)"] / 1000
print(div_1000[0:2])

0    0.02
1    0.16
Name: Iron_(mg), dtype: float64
0    0.00002
1    0.00016
Name: Iron_(mg), dtype: float64

In [24]:
#It applies the arithmetic operator to the first value in both columns, the second value in both columns, and so on
print(food_info["Water_(g)"][0:2])
print(food_info["Energ_Kcal"][0:2])
water_energy = food_info["Water_(g)"] * food_info["Energ_Kcal"]
print(water_energy[0:2])

0    15.87
1    15.87
Name: Water_(g), dtype: float64
0    717
1    717
Name: Energ_Kcal, dtype: int64
0    11378.79
1    11378.79
dtype: float64

### Sort inside

In [29]:
#By default, pandas will sort the data by the column we specify in ascending order and return a new DataFrame
# Sorts the DataFrame in-place, rather than returning a new DataFrame.
#print food_info["Sodium_(mg)"]
food_info.sort_values("Sodium_(mg)", inplace=True)
print(food_info["Sodium_(mg)"][0:2])
#Sorts by descending order, rather than ascending.
food_info.sort_values("Sodium_(mg)", inplace=True, ascending=False)
print (food_info["Sodium_(mg)"][0:2])

760     0.0
8607    0.0
Name: Sodium_(mg), dtype: float64
276     38758.0
5814    27360.0
Name: Sodium_(mg), dtype: float64

## Part 2

### Slice data

In [31]:
import pandas as pd
import numpy as np
titanic_survival = pd.read_csv("titanic_train.csv")

In [33]:
#The Pandas library uses NaN, which stands for "not a number", to indicate a missing value.
#we can use the pandas.isnull() function which takes a pandas series and returns a series of True and False values
age = titanic_survival["Age"][10:20]
print(age.loc)
age_is_null = pd.isnull(age)
print(age_is_null)
age_null_true = age[age_is_null]
print(age_null_true)
age_null_count = len(age_null_true)
print(age_null_count)

<pandas.core.indexing._LocIndexer object at 0x108c95240>
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17     True
18    False
19     True
Name: Age, dtype: bool
17   NaN
19   NaN
Name: Age, dtype: float64
2

### Missing data

In [37]:
#The result of this is that mean_age would be nan. 
#This is because any calculations we do with a null value also result in a null value
mean_age = sum(age) / len(age)
print (mean_age)

nan

In [39]:
#we have to filter out the missing values before we calculate the mean.
good_ages = age[age_is_null == False]
#print good_ages
correct_mean_age = sum(good_ages) / len(good_ages)
print (correct_mean_age)

27.875

In [42]:
# missing data is so common that many pandas methods automatically filter for it
correct_mean_age = titanic_survival["Age"].mean()
print(correct_mean_age)

29.6991176471

### Mean for each class

In [43]:
#mean fare for each class
passenger_classes = [1, 2, 3]
fares_by_class = {}
for this_class in passenger_classes:
    pclass_rows = titanic_survival[titanic_survival["Pclass"] == this_class]
    pclass_fares = pclass_rows["Fare"]
    fare_for_class = pclass_fares.mean()
    fares_by_class[this_class] = fare_for_class
print (fares_by_class)

{1: 84.154687499999994, 2: 20.662183152173913, 3: 13.675550101832993}

### Pivot inside parametre

In [45]:
#index tells the method which column to group by
#values is the column that we want to apply the calculation to
#aggfunc specifies the calculation we want to perform
passenger_survival = titanic_survival.pivot_table(index="Pclass", values="Survived", aggfunc=np.mean)
print(passenger_survival)

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

In [46]:
passenger_age = titanic_survival.pivot_table(index="Pclass", values="Age")
print(passenger_age)

              Age
Pclass
1       38.233441
2       29.877630
3       25.140620

In [47]:
port_stats = titanic_survival.pivot_table(index="Embarked", values=["Fare","Survived"], aggfunc=np.sum)
print(port_stats)

                Fare  Survived
Embarked
C         10072.2962        93
Q          1022.2543        30
S         17439.3988       217

### Drop null-have columns

In [53]:
#specifying axis=1 or axis='columns' will drop any columns that have null values
drop_na_columns = titanic_survival.dropna(axis=1)
print(drop_na_columns[0:2])

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1

                                                Name     Sex  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    male      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female      1      0

      Ticket     Fare
0  A/5 21171   7.2500
1   PC 17599  71.2833

In [60]:
print(titanic_survival.loc[0])

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                                 22
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

### Sort

In [82]:
new_titanic_survival = titanic_survival.sort_values("Age",ascending=False)
print(new_titanic_survival[0:10])

     PassengerId  Survived  Pclass                                  Name  \
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson
851          852         0       3                   Svensson, Mr. Johan
493          494         0       1               Artagaveytia, Mr. Ramon
96            97         0       1             Goldschmidt, Mr. George B
116          117         0       3                  Connors, Mr. Patrick
672          673         0       2           Mitchell, Mr. Henry Michael
745          746         0       1          Crosby, Capt. Edward Gifford
33            34         0       2                 Wheadon, Mr. Edward H
54            55         0       1        Ostby, Mr. Engelhart Cornelius
280          281         0       3                      Duane, Mr. Frank

      Sex   Age  SibSp  Parch      Ticket     Fare Cabin Embarked
630  male  80.0      0      0       27042  30.0000   A23        S
851  male  74.0      0      0      347060   7.7750   NaN        S
493  male  71.0      0      0    PC 17609  49.5042   NaN        C
96   male  71.0      0      0    PC 17754  34.6542    A5        C
116  male  70.5      0      0      370369   7.7500   NaN        Q
672  male  70.0      0      0  C.A. 24580  10.5000   NaN        S
745  male  70.0      1      1   WE/P 5735  71.0000   B22        S
33   male  66.0      0      0  C.A. 24579  10.5000   NaN        S
54   male  65.0      0      1      113509  61.9792   B30        C
280  male  65.0      0      0      336439   7.7500   NaN        Q

### Iterate columns and labelize

In [89]:
#By passing in the axis=1 argument, we can use the DataFrame.apply() method to iterate over rows instead of columns.
def which_class(row):
    pclass = row['Pclass']
    if pd.isnull(pclass):
        return "Unknown"
    elif pclass == 1:
        return "First Class"
    elif pclass == 2:
        return "Second Class"
    elif pclass == 3:
        return "Third Class"

classes = titanic_survival.apply(which_class, axis=1)
print(classes[0:10])

def generate_age_label(row):
    age = row["Age"]
    if pd.isnull(age):
        return "unknown"
    elif age < 18:
        return "minor"
    else:
        return "adult"

age_labels = titanic_survival.apply(generate_age_label, axis=1)
print(age_labels[0:10])

# calculation for new groupe
titanic_survival['age_labels'] = age_labels
age_group_survival = titanic_survival.pivot_table(index="age_labels", values="Survived")
print(age_group_survival)

0     Third Class
1     First Class
2     Third Class
3     First Class
4     Third Class
5     Third Class
6     First Class
7     Third Class
8     Third Class
9    Second Class
dtype: object
0      adult
1      adult
2      adult
3      adult
4      adult
5    unknown
6      adult
7      minor
8      adult
9      minor
dtype: object
            Survived
age_labels
adult       0.381032
minor       0.539823
unknown     0.293785